/*VARIABLES*/
/*MIXINS*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.flex {
  display: flex;
  justify-content: center;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

/*typography*/
fieldset {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 16px;
}

/*SOBRE NOSOTROS*/
audio {
  position: absolute;
  visibility: hidden;
}

.container__descripcion {
  padding-left: 50px;
  font-size: 18x;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 10px 0px;
}

/*HEADER*/
.body {
  background-image: white;
}
.body .animate__animated .animate__zoomIn {
  --animate-duration: 2s;
}
.body .logo img {
  margin: 5px 0px 5px 5px;
  width: 120px;
  box-shadow: 0px 0px 20px 0px;
}
.body .logo img:hover {
  transform: scale(0.5);
  lighting-color: 5;
}
.body .titulo {
  font-size: 10vh;
  font-weight: 900;
  color: #03354e;
  background: linear-gradient(to right, #096b9c, #00C2CB);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*MAIN*/
.main__index {
  width: 90%;
  padding: 1px;
  box-shadow: 0px 0px 10px 0px #00C2CB;
  margin-bottom: 5px;
  opacity: 0.95;
}

.aside {
  width: 30vh;
  height: 100%;
  border: 1px solid #00C2CB;
}

/*FOOTER*/
.footer {
  color: black;
  display: flex;
  justify-content: space-around;
  height: 18vh;
  background-color: #00C2CB;
  box-shadow: 0px 0px 10px 0px;
}
.footer img {
  flex-direction: column;
  margin: 5px 0px 0px 5px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 10px 0px;
}
.footer .footer__responsive {
  font-size: 16px;
}
.footer a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.footer a:hover {
  text-transform: uppercase;
  color: white;
}

.backNino {
  background-image: url(/image/backnino.webp);
  background-size: cover;
}

.backGunship {
  background-image: url(/image/backgunship.webp);
  background-size: cover;
}

/* Producto*/
.caja {
  background-color: rgb(45, 45, 45);
  color: #39ff14;
}

.letra {
  font-family: "Special Elite", cursive;
  display: block;
  white-space: nowrap;
}

#parrafo1 {
  color: red;
}

.responsive {
  opacity: 0.5;
  padding: 5px;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

#form {
  display: none;
}

@media (max-width: 320px) {
  .container__caja {
    margin-left: 5px;
    padding-left: 5px;
    max-width: 280px;
    font-size: 14px;
  }
  .footer__responsive {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  /*header*/
  main > div > div > a > img { /*no es index*/
    transform: scale(0.8);
  }
  .aside {
    display: none;
  }
  /*footer*/
  .log_footer {
    margin: 2px 0px 0px 2px;
    transform: scale(0.8);
    transition: all 800ms ease;
  }
  .footer__responsive {
    display: none;
  }
  .container__caja {
    margin-left: 5px;
    padding-left: 5px;
    max-width: 280px;
    font-size: 14px;
  }
  /*juegos*/
  /*videos*/
  iframe {
    width: 310px;
    transition: all 800ms ease;
  }
}
@media (min-width: 641px) and (max-width: 920px) {
  .titulo {
    font-weight: 200vh;
  }
  .main__index {
    width: 100%;
  }
  .aside {
    display: none;
  }
  .card {
    display: block;
  }
}
@media (min-width: 921px) and (max-width: 1400px) {
  .aside {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */