


fieldset {
    max-width: fit-content;
    padding: 16px;
    }


        /*SOBRE NOSOTROS*/ 
 audio {
     visibility:hidden;
        }

.container__caja {
    background-color: $azul-opaco;
    color: white;
    width: 600px;
    font-size: 20px;
    margin: 10px 0 10px 20px;
    padding: 10px 10px 20px 50px;
        }