

/*HEADER*/


.body {
    background-image: white;
        .animate__animated .animate__zoomIn {
        --animate-duration: 2s;
                }
        .logo   img {  
            margin: 5px 0px 5px 5px;
            width: 120px;
            box-shadow: 0px 0px 20px 0px;
            &:hover {
                transform: scale(0.5);
                lighting-color: 05;
            }

                    }
        .titulo {
            font-size: 10vh;
            font-weight: 900;
            color: $azul-oscuro;
            background: linear-gradient(to right, $azul-opaco, $azul-claro);            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;            
            }
        }


/*MAIN*/

.main__index {
    width: 90%;
    padding: 1px;
    box-shadow: 0px 0px 10px 0px $azul-claro;
    margin-bottom: 5px;
    opacity: 0.95;
}


.aside {
    width: 30vh;
    height: 100%;
    border:1px solid $azul-claro;
}


/*FOOTER*/


.footer {
    color: black;
    display: flex;
    justify-content:space-around;
    height: 18vh;
    background-color: $azul-claro;
    box-shadow: 0px 0px 10px 0px;
        img {
            flex-direction: column;
            margin: 5px 0px 0px 5px;
            width: 100px;
            height: 100px;
            box-shadow: 0px 0px 10px 0px;
        }
        .footer__responsive {
            font-size: 16px;
        }
        a {
            text-decoration-line: none;
             &:hover {
                text-transform: uppercase;
                 color: white;
            }
        
        }
}

 

.backNino { 
    background-image: url(/image/backnino.webp);
    background-size:cover;
}

.backGunship { 
    background-image: url(/image/backgunship.webp);
    background-size:cover;
}

/* Producto*/

.caja {
    background-color:rgb(45,45,45);
    color:#39ff14;

 }

 .letra{
    font-family: 'Special Elite', cursive;
    display: block;
    white-space: nowrap;
    }

#parrafo1 {
    color: red;
}



.responsive {
    opacity: 0.5;
    padding:5px;
    max-height: 200px;
    object-fit: contain;
  }

#form {
    display: none;
}