
@media (max-width:320px) {
    .container__caja {
        margin-left: 5px;
        padding-left: 5px;
        max-width: 280px;
        font-size: 14px;
    }
}


@media (min-width:320px) and (max-width: 640px) {

    /*header*/
    .titulo {
        font-size: 35px;
    }
    main > div > div > a > img {    /*no es index*/
        transform: scale(0.8);
    }   
    .aside {
        display: none;
    }
    /*footer*/
    .log_footer {
        margin: 2px 0px 0px 2px;
        transform: scale(0.8);
        transition: all 800ms ease;
    }
    .footer__responsive {
        font-size: 13px;
    }

    .container__caja {
        margin-left: 5px;
        padding-left: 5px;
        max-width: 280px;
        font-size: 14px;
    }

    /*juegos*/


    /*videos*/
    iframe {
        width: 310px;
        transition: all 800ms ease;
    }
}

@media (min-width:641px) and (max-width: 920px) {
    .main__index {
        width: 100%;
    }
    .aside {
        display: none;
        transition: all 800ms ease;
    }
    .card {
        display:block;
    }
}

@media (min-width:921px) {

}

