@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER*/
.body {
  background-image: white;
}

.body .animate__animated .animate__zoomIn {
  --animate-duration: 2s;
}

.body .logo img {
  margin: 5px 0px 5px 5px;
  width: 120px;
  -webkit-box-shadow: 0px 0px 20px 0px;
          box-shadow: 0px 0px 20px 0px;
}

.body .titulo {
  font-size: 10vh;
  font-weight: 900;
  color: #03354e;
  background: -webkit-gradient(linear, left top, right top, from(#096b9c), to(#00C2CB));
  background: linear-gradient(to right, #096b9c, #00C2CB);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*NAV*/
/*MAIN*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__index {
  width: 90%;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 10px 0px #00C2CB;
          box-shadow: 0px 0px 10px 0px #00C2CB;
  margin-bottom: 5px;
}

.aside {
  width: 30vh;
  height: 100%;
  border: 1px solid #00C2CB;
}

/*FOOTER*/
.footer {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 18vh;
  background: #00C2CB;
  -webkit-box-shadow: 0px 0px 10px 0px;
          box-shadow: 0px 0px 10px 0px;
}

.footer .log_footer img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px 0px 5px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 10px 0px;
          box-shadow: 0px 0px 10px 0px;
}

.footer .footer__responsive {
  font-size: 16px;
}

/*Contacto*/
fieldset {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 16px;
}

.container__caja {
  background: #096b9c;
  color: white;
  width: 600px;
  font-size: 20px;
  margin: 10px 0 10px 20px;
  padding: 10px 10px 20px 50px;
}

/*Juegos*/
/*SOBRE NOSOTROS*/
audio {
  visibility: hidden;
}

.container__descripcion {
  background: white;
  -webkit-box-shadow: 0px 10px 10px 0px;
          box-shadow: 0px 10px 10px 0px;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px cornflowerblue;
}

/*ELEMENT RESPONSIVE*/
/*RESPONSIVE*/
@media (max-width: 320px) {
  .container__caja {
    margin-left: 5px;
    padding-left: 5px;
    max-width: 280px;
    font-size: 14px;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  /*header*/
  .titulo {
    font-size: 35px;
  }
  main > div > div > a > img {
    /*no es index*/
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .aside {
    display: none;
  }
  /*footer*/
  .log_footer {
    margin: 2px 0px 0px 2px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .footer__responsive {
    font-size: 13px;
  }
  .container__caja {
    margin-left: 5px;
    padding-left: 5px;
    max-width: 280px;
    font-size: 14px;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  /*juegos*/
  /*videos*/
  iframe {
    width: 310px;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
}

@media (min-width: 641px) and (max-width: 920px) {
  .main__index {
    width: 100%;
  }
  .aside {
    display: none;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .card {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */