
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Source Sans Pro', sans-serif;
}

.grid__container {
    outline: 4px solid white;
    height: 100vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "main main main"
    "footer footer footer";
}
/*HEADER*/
.header {
    display: flex;
    justify-content:space-between;
    height: 140px;
    background: rgb(255, 255, 255);
    width: 90vh;
}

.logo   img {  
    flex-direction: column;
    margin: 5px 0px 0px 5px;
    width: 120px;
    box-shadow: 0px 0px 10px 0px;
}


.titulo {
    margin-left: 70vh;
    font-size: 60px;
    size: 50px;
    color: #096b9c;
}

.search input {
    margin-left: 60vh;
    margin-top:70px;
    width: 300px;
    padding: 10px;
    align-content: right;
}
/*NAV*/
.nav {
    width: 100%;
    height: 4vh;
    background: #00C2CB;
    border: 1px solid black;
    padding: 10px 20px;
}

.menu {
    max-width: 100%;
    margin: auto;
    height: 4vh;
}

nav > ul { 
    display: flex;
    height: 100%;
}

nav  ul  li {
    flex-direction: column;
    height: 100%;
    position: relative;
    margin-left: 15px;
}

nav > ul > li > a {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 8vh;
    justify-content:center;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 300ms ease;
    color: rgb(255, 255, 255);
}

nav > ul > li > a:hover {
    transform: scale(1.2);
    background: #096B9C;
    box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
}

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 40px;
    left: -5px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 40px;
}

nav ul li ul:before {
    content: '' ;
    width: 0;
    height: 0;
    border-left:  12px solid transparent;
    border-right:  12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #096B9C;
    padding:  6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul a:hover{
    background: #096B9C;
    color:#fff;
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
}
/*MAIN*/
.container__juegos {
    display: flex;
    flex-direction: column;
}



/*FOOTER*/
.footer {
    display: flex;
    justify-content:space-around;
    height: 15vh;
    background: #00C2CB;
    box-shadow: 0px 0px 10px 0px;
}

.log_footer img {
    flex-direction: column;
    margin: 5px 0px 0px 5px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px 0px;
}

.footer__responsive {
    font-size: 16px;
}

        /*Contacto*/

fieldset {
    max-width: fit-content;
    padding: 16px;
}

.container__caja {
    background: #096b9c;
    color: white;
    max-width: 500px;
    font-size: 20px;
    margin: 10px 0 10px 20px;
    padding: 10px 10px 20px 50px;
}

        /*Juegos*/
.article__juegos {
    border: 1px solid #096b9c;
    display: flex;
    width: 100%;
    height: 300px;
    height:max-content;
}

a > img {
    background:rgb(0, 194, 203, 0.2);
    box-shadow: 0px 0px 20px 0px #096b9c;
    padding: 8px;
    height: 299px;
    object-fit: contain;
}

article > h2 {
    margin: 15px 0 0 15px;
    font-size: 25px;
    position: absolute;
    box-shadow: 0px 0px 20px 0px #096b9c;
    border-radius: 10px 5%;
    text-align: center;
    background-color: rgba(164, 166, 255, 0.6);
}

article > h3 {
    margin: 15px 0 0 15px;
    font-size: 25px;
    text-align: justify;
    box-shadow: 0px 0px 20px 0px rgba(164, 166, 255, 0.2);
    border-radius: 10px 5%;
    text-align: center;
}


/*ELEMENT RESPONSIVE*/


/*RESPONSIVE*/
@media screen and (max-width: 1500px){
       .search input {
        margin-left: 5vh;
    }
}

@media screen and (max-width: 830px){

    /*header*/
    .logo {
        transform: scale(0.8);
        transition: all 800ms ease;
        left: 5px;
    }

    .titulo {
        margin-left: 1vh;
        font-size: 45px;
        transition: all 800ms ease;
    }
    
    .search input {
        visibility: hidden;
    }

    /*nav*/
    nav > ul {
        color: #096B9C;
        flex-direction:column;
        background-color: #00C2CB;
        /*position:fixed;*/
        left: 0;
        top: 120px;    
        width: 100%;
        height: 100px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 1;
        border-radius: 1px solid black;
    }


    /*footer*/
    .log_footer {
        margin: 2px 0px 0px 2px;
        transform: scale(0.8);
        transition: all 800ms ease;
    }
    .footer__responsive {
        font-size: 14px;
    }

    .container__caja {
        margin-left: 5px;
        padding-left: 5px;
        max-width: 300px;
        font-size: 15px;
        transition: all 800ms ease;
    }

    /*juegos*/

    .article__juegos {
        width: 100%;
        border: none;
        height:max-content;
        transition: all 800ms ease;
    }

    main {
        margin-top: 82px;
    }

    a > img {
        width: 310px;
        transition: all 800ms ease;
    }

    .caja {
        display: inline-block;
        height: 100px;
        transition: all 800ms ease;
    }
    
    article > h2 {
        font-size: 20px;
    }

    article > h3 {
        background-color: none;
        box-shadow: none;
        margin: 2px;
        font-size: 15px;
    }

    .caja1 {
        height: 50px;
    }

    .h20, .h21, .h22 { 
        position: relative;
    }

    /*videos*/

    iframe {
        width: 310px;
        transition: all 800ms ease;
    }


}